.file {
  font-family: sans-serif;
  text-align: center;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}
}

.submitting {
  background-color: greenyellow;
  border: 1px solid black;
  margin-bottom: 5px;
}
